name: Update dependency
# Make sure enable 'Workflow permissions'
# Go to repo: settings/Actions/general/Workflow permission
# Enable: ✅ Read and write permissions
# Enable: ✅ Allow Github actions to create and approve pull request

on:
    # workflow_run: # (Note: not worked yet) Run CI.yml after jobs after completion of this workflow 
    #     workflows: ["CI"]
    #     types:
    #         - completed
    #     branches:
    #         - main
    
    workflow_dispatch:
    schedule:
        # Minutes - Hour(UTC) - Day of month - Month - Day of week
        # - cron: "1 0 1 * *" 
        - cron: "0/8 * * * *" 

jobs:
    update:
        strategy:
            matrix:
                node_version: [18.x]
        name: Update all dependency
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.Js ${{ matrix.node_version }}
              uses: actions/setup-node@v3
              with:
                node_version: ${{ matrix.node_version }}
                cache: "npm"
            - run: npm ci

            - run: npx npm-check-updates -u # Update dependencies
            - run: rm -Rf node_modules package-lock.json
            - run: npm install
            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v5
              with:
                commit-message: "build: update dependencies to the latest version"
                title: Update dependencies to the latest version
                token: ${{ secrets.GITHUB_TOKEN }}


