name: Update dependency

on:
    workflow_dispatch:
    schedule:
        - cron: "59 12 17 * *" 

jobs:
    update:
        strategy:
            matrix:
                node_version: [18.x]
        name: Update all dependency
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.Js ${{ matrix.node_version }}
              uses: actions/setup-node@v3
              with:
                node_version: ${{ matrix.node_version }}
                cache: "npm"
            - run: npm ci

            - run: npx npm-check-updates -u # Update dependencies
            - run: rm -Rf node_modules package-lock.json
            - run: npm install
            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v5
              with:
                commit-message: "build: update dependencies to the latest version"
                title: Update dependencies to the latest version
                token: ${{ secrets.GITHUB_TOKEN }}


